# Dependencies
node_modules/

# Env
.env
.env.local
.env.production
*.local

# Build output
backend/dist/

# Expo
mobile/.expo/
mobile/.expo-android-bundle-test/
mobile/dist/
mobile/web-build/
**/android/build/
*.orig.*

# Logs
*.log
npm-debug.*

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
